<h1>Recent Conversations</h1>

<ul>
  <% @conversations.each do |c| %>
    <li>
      <%= c.title %>
      <%= link_to "More Info", language_conversation_path(c.language, c) %>
    </li>
  <% end %>
</ul>
