<h1> <%= @conversation.content %> </h1>

<p>This conversation is titled <%= @conversation.content %> and was started <%= @conversation.time %>.</p>

<%= link_to "Back to All Conversations!", conversations_path %>
