<h1>Welcome to the Language Cafe!</h1>
<p>A community for language learners of all types. Wander around and find people to teach and learn from below.</p>

<ul>
  <% @languages.each do |language| %>
    <li>
      <strong> <%= language.name %> </strong><br>
      <%= link_to "See Conversations", language_path(language) %><br><br>
    </li>
  <% end %>
</ul>
