<h1> Welcome <%= current_user.name %>!!!</h1>

<ul style="list-style:none;">
  <% @users.each do |user| %>
    <li>
      <strong> <%= user.name %> </strong><br>
      <%= link_to "Edit Account Details", edit_user_path(user) %><br><br>
    </li>
  <% end %>

</ul>
