<body class="splash">
<h1> Welcome, <%= current_user.name %>! </h1>

<p>Thanks for stopping by. It's never too late to pick up a new language. Find a language exchange buddy today!</p>

<%= link_to "Browse Languages", languages_path %><br>
<%= link_to "Edit Account Details", edit_user_path(@user) %><br><br>
<%= link_to "Delete your Account?", user_path, method: :delete, data: { confirm: "Deleting your account will not delete posts or conversations you have made with this account name. Are you sure you want to delete your account?"} %><br>
</body>
