<h1>Welcome to the Language Cafe!</h1>
<p>View a history of all your posts here.</p>

<!-- <%= will_paginate @posts %> -->

<ul style="list-style:none;">
  <% @posts.each do |post| %>
    <li>
      <strong> <%= post.content %> </strong><% post.conversation_id %>
    </li>
  <% end %>
</ul>
