.bform {
  background-color: rgba(0, 200, 90, 0.15);
  padding: 5px;
  margin: 15px;
  text-align: center;
}

.signup {
  border: 3px solid rgba(60,60,100,0.3);
  padding: 5px;
  margin: 15px;
  text-align: center;
}

.splash {
  background-color: rgba(80, 100, 90, 0.2);
  padding: 5px;
  margin: 15px;
  text-align: center;
}

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
